*.cache
TwitterFeed.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TwitterFeed.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TwitterFeed.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TwitterFeed.Test/bin/Debug/Newtonsoft.Json.dll
TwitterFeed.Test/bin/Debug/Newtonsoft.Json.xml
TwitterFeed.Test/bin/Debug/TwitterFeed.Test.dll
TwitterFeed.Test/bin/Debug/TwitterFeed.Test.dll.config
*.pdb
*.dll
TwitterFeed.Test/obj/Debug/TwitterFeed.Test.csproj.FileListAbsolute.txt
TwitterFeed/bin/Debug/Newtonsoft.Json.xml
TwitterFeed/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TwitterFeed/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TwitterFeed/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TwitterFeed/obj/Debug/TwitterFeed.csproj.FileListAbsolute.txt
packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg
packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
C-Sharp-Twitter-1.1-API.v12.suo
*.suo