<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Create a new app here https://apps.twitter.com/ -->
    <add key="customer_key" value=""/>
    <add key="customer_secret" value="" />
    <add key="access_token" value=""/>
    <add key="access_token_secret" value=""/>
  </appSettings>

</configuration>