<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Create a new app here https://apps.twitter.com/ -->
    <add key="CONSUMER_KEY" value=""/>
    <add key="CONSUMER_SECRET" value=""/>
    <add key="TOKEN" value=""/>
    <add key="TOKEN_SECRET" value=""/>
  </appSettings>

</configuration>